<div class="row">
  <div class="col-md-6">
    <h3>Day 1</h3>
    <table class="table table-striped">
      <tr> <td>Before</td> <td><a href="{{ site.swc_pre_survey }}{{ site.github.project_title }}">Pre-workshop survey</a> </td> </tr>
      <tr> <td>09:00</td>  <td><a href="http://ohi-science.org/data-science-training/overview.html">Motivation</a>, <a href="http://ohi-science.org/data-science-training/rstudio.html">R, RStudio &amp; RMarkdown</a> (Julie)</td> </tr>
      <tr> <td>10:30</td>  <td>Coffee</td> </tr>
      <tr> <td>10:45</td>  <td><a href="http://ohi-science.org/data-science-training/github.html">GitHub</a> (Julie)</td> </tr>      
      <tr> <td>12:15</td>  <td>Lunch break</td> </tr>
      <tr> <td>13:15</td>  <td><a href="http://ohi-science.org/data-science-training/ggplot2">Visualization: <code>ggplot2</code></a> (Jamie)</td> </tr>
      <tr> <td>14:45</td>  <td>Coffee</td> </tr>
      <tr> <td>15:00</td>  <td><a href="http://ohi-science.org/data-science-training/dplyr.html">Data wrangling: <code>dplyr</code></a> (Julie)</td> </tr>      
      <tr> <td>16:30</td>  <td>END</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 2</h3>
    <table class="table table-striped">
      <tr> <td>09:00</td>  <td><a href="http://ohi-science.org/data-science-training/tidyr">Data wrangling: <code>tidyr</code></a> (Jamie)</td> </tr>
      <tr> <td>10:30</td>  <td>Coffee</td> </tr>
      <tr> <td>10:45</td>  <td><a href="http://ohi-science.org/data-science-training/programming.html">Programming in R</a> (Jamie)</td> </tr>            
      <tr> <td>12:15</td>  <td>Lunch break</td> </tr>
      <tr> <td>13:15</td>  <td><a href="http://ohi-science.org/data-science-training/collaborating.html">Collaborating with GitHub</a> (Julie)</td> </tr>
      <tr> <td>14:45</td>  <td>Coffee</td> </tr>
      <tr> <td>15:00</td>  <td><a href="http://ohi-science.org/data-science-training/champion.html#champion">How to continue building skills and community</a> (Julie & Jamie)</td> </tr>
      <tr> <td>16:30</td>  <td><a href="{{ site.swc_post_survey }}{{ site.github.project_title }}" target="_blank">Post-workshop Survey</a></td> </tr>
      <tr> <td>16:45</td>  <td>END</td> </tr>
    </table>
  </div>
</div>
